---
import CommonIndex from "../../components/CommonIndex.astro";
const pageTitle = "Pagina iniziale";
---

<CommonIndex pageTitle={pageTitle} subtitle="Sottotitolo del mio blog">
  <h3>Sottotitolo h3</h3>
  <div>
    <p>Questa è la pagina principale in italiano</p>
  </div>
</CommonIndex>
