---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greetings from "./Greetings";
const { pageTitle, subtitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  {subtitle && <h2>{subtitle}</h2>}
  <slot />
  <Greetings client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
